
<footer class="page-footer font-small blue pt-4 mt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 class="text-uppercase">BRIMO</h5>
                <p>By Ignacio Pallarés Jiménez, Universidad Autónoma de Madrid.</p>
            </div>
        </div>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018:
        <a href="/about"> Ignacio Pallarés Jiménez </a>
    </div>

</footer>
