
nav{
  background-color:#221f2e;
}
ul{
  text-align: center;
}
nav img{
  width:150px;
}
input{
  width: 70%;
}
.container{
  padding-top: 1%;
  padding-bottom: 3%;
}
.oculto2{
  display: none; /*Oculto 2 es para todos los tamaños a diferencia de oculto*/
}
h3{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
@media only screen and (max-width: 1225px){
  .content
  {
      min-height: 90%;
      min-height: -webkit-calc(100% - 200px);
      min-height: -moz-calc(100% - 200px);
      min-height: calc(100% - 200px);
  }
}
@media only screen and (max-width: 1225px){
  .content
  {
      min-height: 80%;
      min-height: -webkit-calc(100% - 175px);
      min-height: -moz-calc(100% - 175px);
      min-height: calc(100% - 175px);
  }
}

@media only screen and (max-width: 700px){
  nav img{
   width: 100px;
  }
  .container .card-header{
    display: none;
  }
  .content
  {
      min-height: 90%;
      min-height: -webkit-calc(100% - 100px);
      min-height: -moz-calc(100% - 100px);
      min-height: calc(100% - 100px);
  }
}

@media only screen and (max-width: 620px){
  nav img{
    display: none;
  }
}
@media only screen and (max-width: 575px){

  .oculto{
    display: none;
  }
  ul{
    width: 100%;
    align-content: center;
  }
  nav {
    align-content: center;
  }
}
