<nav class="navbar navbar-expand-sm navbar-dark">
  <a class="navbar-brand" href="#" routerLinkActive="active" routerLink="">
    <img src="./assets/logoBrimo.png" alt="logo" class="rounded">
  </a>
  <button class="navbar-toggler navbar-toggler-right" [ngClass]="claseBoton" type="button" (click)="botonMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <ul class="navbar-nav" [ngClass]="claseUl">
    <li class="nav-item">
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="botonMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="devices_menu">Devices
        <i class="fa fa-thermometer-half"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="cam">Cam
        <i class="fa fa-camera"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="">Settings
        <i class="fa fa-cog"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="">About </a>
    </li>
    <li class="nav-item" [ngClass]="logOutButtonClass">
      <button class="btn btn-warning my-2 my-sm-0" (click)="logout()" type="button">Log Out
        <i class="fa fa-sign-out"></i>
      </button>
    </li>
    <li class="nav-item" [ngClass]="logInButtonClass" (click)="botonLogin()">
      <a class="btn btn-success my-2 my-sm-0 nav-link" href="#" routerLinkActive="active" routerLink="">Log In
        <i class="fa fa-sign-in"></i>
      </a>
    </li>
  </ul>
</nav>

<div id="evento_pop_up" class="modal animate" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span (click)="hide()" class="close" title="Cerrar">
          <i class='fa fa-times'></i>
        </span>
        <div class="container">
          <label for="user">
            <b>User</b>
          </label>
          <input type="text" placeholder="User" name="user" required [(ngModel)]="this.username">
          <label for="psw">
            <b>Password</b>
          </label>
          <input type="password" placeholder="Contraseña" name="psw" required [(ngModel)]="this.password">
          <div class="alert alert-danger" [ngClass]="errClass" role="alert">
            <strong>Error!</strong> {{this.errMsg}}
          </div>
          <button class="btn btn-primary" (click)="login()">Entrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
